<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.notjosh.alfred-discord-timestamps</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E1B0CAAF-4D42-4B4E-A427-E0A0A1234567</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C1DBBA-5E53-5C5F-B538-F1B1B2345678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>notjosh</string>
	<key>description</key>
	<string>Generate Discord timestamp formats from natural language</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Discord Timestamps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Parsing date…</string>
				<key>script</key>
				<string>./run-node.sh dist/index.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>e.g. "tomorrow at 3pm"</string>
				<key>title</key>
				<string>Discord Timestamp</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1B0CAAF-4D42-4B4E-A427-E0A0A1234567</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2C1DBBA-5E53-5C5F-B538-F1B1B2345678</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type "dt" followed by a natural language date/time to generate Discord timestamp formats.

Examples:
  dt tomorrow at 3pm
  dt next friday
  dt in 2 hours

Select a format to copy it to your clipboard.</string>
	<key>uidata</key>
	<dict>
		<key>E1B0CAAF-4D42-4B4E-A427-E0A0A1234567</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>F2C1DBBA-5E53-5C5F-B538-F1B1B2345678</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/notjosh/alfred-workflow-discord-timestamps</string>
</dict>
</plist>
